body{
    
    width: 750px;
    font-size: 16px;

}
header{
background-color:rgb(245,229,160);
}

h2, nav{
    font-family: 'Oswald', sans-serif;
    font-size:24px;
}
nav a {
    color:rgb(255,141,0)
}